arabic-reshaper==3.0.0
asgiref==3.8.1
audioread==3.0.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
crispy-tailwind==1.0.3
cryptography==44.0.2
cycler==0.12.1
decorator==4.4.2
dj-database-url==2.3.0
Django==5.1.6
django-allauth==65.4.1
django-credit-cards==0.4.1
django-crispy-forms==2.3
django-rosetta==0.10.1
django-tailwind==3.8.0
django-widget-tweaks==1.5.0
docopt==0.6.2
et_xmlfile==2.0.0
fonttools==4.56.0
greenlet==3.1.1
gTTS==2.5.4
gunicorn==23.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
joblib==1.4.2
Js2Py==0.74
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.44.0
lxml==5.3.1
MarkupSafe==3.0.2
matplotlib==3.10.1
moviepy==1.0.3
msgpack==1.1.0
narwhals==1.29.0
nltk==3.9.1
numba==0.61.0
numpy==2.1.3
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==10.4.0
pipwin==0.5.2
platformdirs==4.3.6
plotly==6.0.0
polib==1.2.0
pooch==1.8.2
proglog==0.1.10
psycopg2-binary==2.9.10
pycparser==2.22
pydub==0.25.1
pyjsparser==2.7.1
PyJWT==2.10.1
pyparsing==3.2.1
PyPrind==2.11.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pySmartDL==1.3.4
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2025.1
qrcode==8.0
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
SQLAlchemy==2.0.38
sqlparse==0.5.3
tailwindcss==0.0.1
threadpoolctl==3.5.0
# Editable install with no version control (tourism_management==1.0.0)
-e c:\users\mustafa sherif\desktop\»—‰«„Ã „Õ«”»Ì
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3
urllib3==2.3.0
Wave==0.0.2
Werkzeug==3.1.3
